@import "tailwindcss";

@theme {
    --color-*: initial;
    --color-white: #fff;
    --color-accent: #353535;
    --color-main: #3C6E71;
    --color-bg: #D9D9D9;
    --color-header: #284B63;
    --color-headerMenu: #214053;
    --color-headerMenuHover: #172A36;
    --color-error: #DC143C;
    --color-footer: #1e3849;
    --color-btext: #555555;
    --color-outlineFocus: #7bdfff;
    --color-outline: #d8d8d8;
    --color-link: #ADD8E6;
    --color-linkHover: #7bdfff;
}

